$bg-main: #1e293b;
$text-main: #e2e8f0;

.dashboard-container {
  min-height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $bg-main;
  color: $text-main;
  text-align: center;
}