<div class="form-container">
  <div class="form-box">

    <h1>Registro</h1>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      
      <!-- Aqui pones el nombre Isaac -->
      <input type="text" placeholder="Nombre de usuario" formControlName="username" />
      @if ( submitted && f['username'].errors) {
        <small> El nombre de usuario es obligatorio papito. </small> 
      }

      <!-- Aqui pones el Email -->
      <input type="email" placeholder="Correo electrónico" formControlName="email" />

      @if ( submitted && f['email'].errors?.['required']) {
        <small> El correo electrónico es obligatorio papito. </small> 
      }
      @if ( submitted && f['email'].errors?.['email']) {
        <small> El correo electrónico no es válido papito. </small> 
      }

      <!-- Aqui pones la contraseña -->
      <input type="password" placeholder="Contraseña" formControlName="password" />

      @if ( submitted && f['password'].errors?.['required']) {
        <small> La contraseña es obligatoria papito. </small> 
      }

      @if ( submitted && f['password'].errors?.['minlength']) {
        <small> La contraseña es corta, minimo 6 caracteres papito. </small> 
      }

      <button type="submit">Registrarse</button>

      <!-- Aqui va el success -->
      @if (success) {
        <small class="success"> {{ success }} </small>
      }

      <!-- Aqui va el  error -->
      @if (error) {
        <small class="error"> {{ error }} </small>
      }
    </form>
  </div>
</div>